/* ========================================= */
/*   FONTS.CSS – 4 FONT ĐẸP CHO WOMEN DAY   */
/* ========================================= */

@font-face {
  font-family: 'Montserrat Light';
  src: url('https://res.cloudinary.com/dogyjotxv/raw/upload/v1763785020/9Slide03_Montserrat_Light_ikslpi.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt Medium';
  src: url('https://res.cloudinary.com/dogyjotxv/raw/upload/v1763785020/9Slide03_Prompt_Medium_tdnirp.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Samsung Sharp Bold';
  src: url('https://res.cloudinary.com/dogyjotxv/raw/upload/v1763785020/9Slide03_IcielSamsungSharpSans-Bold-UTF8_gpqcwz.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('https://res.cloudinary.com/dogyjotxv/raw/upload/v1763785019/9Slide03_BEBAS_NEUE_ZSMALL_fwcgrx.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}